<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PROV Lista proveedor</title>
    <link rel="shortcut icon" href="/img/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/css/sidebar.css">
</head>

<body>
    <div class="contenedor">
        <nav>
            <div class="sidebar-top">
                <span class="expand-btn">
                    <img src="/img/chevron.svg" alt="Chevron">
                </span>
                <img src="/img/egg solutions blanco.png" class="logo" alt="Laplace Logo">
                <h3 class="hide" style="white-space:nowrap;">Panel Administrativo</h3>
            </div>
            <div class="sidebar-links">
                <ul>
                    <li>
                        <a href="#portfolio" class="active" title="Portfolio link">
                            <div class="icon">
                                <img src="/img/portfolio.svg" title="Portfolio Icon">
                            </div>
                            <span class="link hide">Perfil</span>
                        </a>
                    </li>
                    <li>
                        <a href="#analytics" title="Analytics link">
                            <div class="icon">
                                <img src="/img/analytics.svg" title="Analytics Icon">
                            </div>
                            <span class="link hide">Contratos</span>
                        </a>
                    </li>
                    <li>
                        <a href="#dashboard" title="Performance link">
                            <div class="icon">
                                <img src="/img/dashboard.svg" title="Performance Icon">
                            </div>
                            <span class="link hide">Performance</span>
                        </a>
                    </li>
                    <li>
                        <a href="/logout" title="Reports Link">
                            <div class="icon">
                                <img src="/img/desconectar.png" title="Reports Icon">
                            </div>
                            <span class="link hide">Logout</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

        <div class="contenedor2">
            <div class="input-container">
                <span class="titulo">
                    Mis Contratos
                </span>
            </div>
            <table class="zigzag">
                <thead>
                    <tr>
                        <th class="header">Número de contrato</th>
                        <th class="header">Nombre Cliente</th>
                        <th class="header">Barrio</th>
                        <th class="header">Dirección</th>
                        <th class="header">Aceptar</th><!--BLOQUEAR BOTÓN UNA VEZ UTILIZADO-->
                        <th class="header">Rechazar</th><!--SE BLOQUEA UNA VEZ ACEPTADO-->
                        <th class="header">Finalizar</th><!--DESHABILITADO HASTA QUE LO ACEPTE-->
                    </tr>
                </thead>
                <tbody th:each="proveedor : ${proveedores}" style="height: 1vh; width: 1px">
                    <tr>
                        <td scope="row">ID</td>
                        <td>Nombre cliente</td>
                        <td>Barrio</td>
                        <td>Dirección</td>
                        <td>
                            <button class="botonm">
                                <span class="btn-txt">Aceptar</span>
                            </button>
                        </td>
                        <td>
                            <button class="botond">
                                <span class="btn-txtd">Rechazar</span>
                            </button>
                        </td>
                        <td>
                            <button class="botone">
                                <span class="btn-txte">Finalizar</span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <script src="/js/sidebar.js"></script>
</body>

</html>